table {width: 100%;}

.mat-form-field {font-size: 14px;width: 100%;}

td, th { width: 25%; }

.vr-active { width: 10px; height: 10px; border-radius: 10px; }
.vr-active-true { @extend .vr-active; background-color: #6DF571;}
.vr-active-false { @extend .vr-active; background-color: #FF7573;}

.w-8p { width: 8%; }
.w-28p { width: 28%; }
