<div class="d-flex mt-50px">
  <div>
    <div class="fs-25 fw-600 lh-25px">
      Polos Itaú
    </div>
    <div class="mt-5px fs-20 fw-300 lh-20px">
      confira abaixo alguns dos principais polos do itaú
    </div>
  </div>
  <div class="ms-auto">
    <button class="vr-btn-save ml-20px" mat-raised-button [routerLink]="['/polo/new']">
      <mat-icon>add</mat-icon> Adicionar
    </button>
    <mat-form-field class="ml-10px" appearance="outline" style="width: 400px">
      <input matInput placeholder="Pesquisar..." (keyup)="applyFilter($event)" #input >
    </mat-form-field>
  </div>
</div>

<ng-container *ngIf="dataSource.data">
  <div class="mat-elevation-z8 mt-30px">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th class="w-28p" mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td class="w-28p fw-600" mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="business">
        <th class="w-28p" mat-header-cell *matHeaderCellDef mat-sort-header> Business </th>
        <td class="w-28p" mat-cell *matCellDef="let row"> {{row.business}} </td>
      </ng-container>

      <ng-container matColumnDef="valuation">
        <th class="w-28p" mat-header-cell *matHeaderCellDef mat-sort-header> Valuation </th>
        <td class="w-28p" mat-cell *matCellDef="let row"> {{ row.valuation | currency:currency[lang]:true }} </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th class="w-8p" mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
        <td class="w-8p" mat-cell *matCellDef="let row">
          <div class="d-flex">
            <span class="ml-20px" [ngClass]="row.active ? 'vr-active-true' : 'vr-active-false'"></span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="w-8p" mat-header-cell *matHeaderCellDef> Ação </th>
        <td class="w-8p cursor-pointer" mat-cell *matCellDef="let row" (click)="viewPolo(row.id)">
          <mat-icon>visibility</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</ng-container>


