<div class="mt-50px">
  <div class="fs-25 fw-600 lh-25px">
    Polo <{{ form.get('name')?.value }}>
  </div>
  <div class="mt-5px fs-20 fw-300 lh-20px">
    exibindo detalhes do polo <{{ form.get('name')?.value }}>#<{{ form.get('id')?.value }}>
  </div>
</div>
<div class="mt-60px">
  Detalhes do Endereço
</div>
<div class="row mt-20px" [formGroup]="formInfoCep">
  <div class="col-lg-2">
    <app-cep [form]="form" (infoCep)="infoCep($event)"></app-cep>
  </div>
  <div class="col-lg-4">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nome da Rua</mat-label>
      <input matInput placeholder="Nome da Rua" formControlName="street">
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Bairro</mat-label>
      <input matInput placeholder="Bairro" formControlName="neighborhood">
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Estado</mat-label>
      <input matInput placeholder="Estado" formControlName="state">
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Cidade</mat-label>
      <input matInput placeholder="Cidade" formControlName="city">
    </mat-form-field>
  </div>
</div>
<div class="mt-30px">
  Detalhes da Empresa
</div>
<div class="row mt-20px" [formGroup]="form">
  <div class="col-lg-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" formControlName="name">
      <mat-error>{{ getErrorMessage('name')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Business</mat-label>
      <input matInput placeholder="Business" formControlName="business">
      <mat-error>{{ getErrorMessage('business')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Valuation</mat-label>
      <input matInput [prefix]="lang === 'pt' ? 'R$ ' : 'US$ '" mask="separator.2" thousandSeparator="." placeholder="Valuation" formControlName="valuation">
      <mat-error>{{ getErrorMessage('valuation')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>CNPJ</mat-label>
      <input matInput placeholder="CNPJ" mask="CPF_CNPJ" formControlName="cnpj" maxlength="18">
      <mat-error>{{ getErrorMessage('cnpj')}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Ativo?</mat-label>
      <mat-select formControlName="active">
        <mat-option [value]="true">Sim</mat-option>
        <mat-option [value]="false">Não</mat-option>
      </mat-select>
      <mat-error>{{ getErrorMessage('active')}}</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="mt-30px d-flex">
  <button class="vr-btn-cancel" mat-raised-button [routerLink]="['/polo/list']">Voltar</button>
  <button class="vr-btn-save ml-20px w-150px" mat-raised-button (click)="save()">Salvar</button>
</div>
