/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; background-color: #fbfbfb !important; }

@for $i from 1 through 300 {
  /** MARGIN => .m-1px | .mt-5px | .mr-10px | .mb-15px | .ml-20px */
  .m-#{$i}px {margin: (#{$i}px !important);}
  .mt-#{$i}px {margin-top: (#{$i}px !important);}
  .mr-#{$i}px {margin-right: (#{$i}px !important);}
  .mb-#{$i}px {margin-bottom: (#{$i}px !important);}
  .ml-#{$i}px {margin-left: (#{$i}px !important);}

  /** PADDING => .p-1px | .pt-5px | .pr-10px | .pb-15px | .pl-20px */
  .p-#{$i}px {padding: (#{$i}px !important);}
  .pt-#{$i}px {padding-top: (#{$i}px !important);}
  .pr-#{$i}px {padding-right: (#{$i}px !important);}
  .pb-#{$i}px {padding-bottom: (#{$i}px !important);}
  .pl-#{$i}px {padding-left: (#{$i}px !important);}

  .h-#{$i}px { height: (#{$i}px !important);}

  /** WIDTH => .w-1px | .w-5px | .w-10px | .w-15px | .w-20px */
  .w-#{$i}px { width: (#{$i}px !important);}
  /** MIN-WIDTH => .min-w-1px | .min-w-5px | .min-w-10px | .min-w-15px | .min-w-20px */
  .min-w-#{$i}px { min-width: (#{$i}px !important);}
  /** MAX-WIDTH => .max-w-1px | .max-w-5px | .max-w-10px | .max-w-15px | .max-w-20px */
  .max-w-#{$i}px { max-width: (#{$i}px !important);}
}

@for $i from 1 through 30 {
  /** FONT-SIZE => .fs-1 | .fs-1-5 | .fs-30 | .fs-30-5 */
  .fs-#{$i} {font-size: (#{$i}px !important);}
  .fs-#{$i}-5  {font-size: #{$i + 0.5}px !important;}

  /** LINE-HEIGHT => .ln-1px | .ln-30px */
  .lh-#{$i}px {line-height: (#{$i}px !important);}
}

/** FONT-WEIGHT => .fw-100 | .fw-900  */
@for $i from 100 through 900 {
  .fw-#{$i} {font-weight: (#{$i} !important);}
}

.cursor-pointer { cursor: pointer; }

.vr-btn { font-size: 18px; font-weight: 500; height: 40px; }
.vr-btn-cancel { @extend .vr-btn; color: #FFFFFF; background-color: #989898; }
.vr-btn-save { @extend .vr-btn; color: #FFFFFF; background-color: #FA8341; }
